# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode - User settings
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
*.xcworkspace/xcuserdata/

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods (혹시 나중에 쓸 경우)
Pods/

# 개인 설정·비밀키
*.env
secrets.plist
